<main class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br />
      <h1>Web App Developers - Fall 2019</h1>
      <br />
      <hr>
      <h3>During development, test api here.</h3>
      <br />
      <br />
      <br />
      <h4>Developer: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="http://localhost:3004/developer/findall">http://localhost:3004/developer/findall</a>
        </li>
        <li> <a href="http://localhost:3004/developer/findone/99">http://localhost:3004/developer/findone/99</a>
        </li>
        <li> <a href="http://localhost:3004/developer/findone/100">http://localhost:3004/developer/findone/100</a>
        </li>
        <li> <a href="http://localhost:3004/developer/findone/92">http://localhost:3004/developer/findone/92</a>
        </li>
        <li> <a href="http://localhost:3004/developer/findone/93">http://localhost:3004/developer/findone/93</a>
        </li>
        <li> <a href="http://localhost:3004/newpage">http://localhost:3004/newpage</a>
        </li>
      </ol>

      <br>

      <h4>Developer: Test Requests to GET a view</h4>

      <ol>
        <li> <a href="http://localhost:3004/developer">http://localhost:3004/developer</a>
        </li>
        <li> <a href="http://localhost:3004/developer/create">http://localhost:3004/developer/create</a>
        </li>
        <li> <a href="http://localhost:3004/developer/edit/99">http://localhost:3004/developer/edit/99</a>
        </li>
        <li> <a href="http://localhost:3004/developer/delete/99">http://localhost:3004/developer/delete/99</a>
        </li>
        <li> <a href="http://localhost:3004/developer/details/100">http://localhost:3004/developer/details/100</a>
        </li>
      </ol>


    </div>
  </div>
</main>
<hr>

</div>
</div>
</div>