<main class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br />
      <h1>Web App Developers - Fall 2019</h1>
      <br />
      <hr>
      <h3>During development, test api here.</h3>
      <br />
      <br />
      <br />
      <h4>Developer: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="http://localhost:3004/developer/findall">http://localhost:3004/developer/findall</a>
        </li>
        <li> <a href="http://localhost:3004/developer/findone/2">http://localhost:3004/developer/findone/2</a>
        </li>
        <li> <a href="http://localhost:3004/developer/findone/1">http://localhost:3004/developer/findone/1</a>
        </li>
        <li> <a href="http://localhost:3004/developer/findone/3">http://localhost:3004/developer/findone/3</a>
        </li>
        <li> <a href="http://localhost:3004/developer/findone/10">http://localhost:3004/developer/findone/10</a>
        </li>
        <li> <a href="http://localhost:3004/newpage">http://localhost:3004/newpage</a>
        </li>
      </ol>

      <br>

      <h4>Developer: Test Requests to GET a view</h4>

      <ol>
        <li> <a href="http://localhost:3004/developer">http://localhost:3004/developer</a>
        </li>
        <li> <a href="http://localhost:3004/developer/create">http://localhost:3004/developer/create</a>
        </li>
        <li> <a href="http://localhost:3004/developer/edit/2">http://localhost:3004/developer/edit/2</a>
        </li>
        <li> <a href="http://localhost:3004/developer/delete/1">http://localhost:3004/developer/delete/1</a>
        </li>
        <li> <a href="http://localhost:3004/developer/details/3">http://localhost:3004/developer/details/3</a>
        </li>
      </ol>

      


      <br />
      <br />
      <br />
      <h4>Course: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="http://localhost:3004/course/findall">http://localhost:3004/course/findall</a>
        </li>
        <li> <a href="http://localhost:3004/course/findone/2">http://localhost:3004/course/findone/2</a>
        </li>
        <li> <a href="http://localhost:3004/course/findone/1">http://localhost:3004/course/findone/1</a>
        </li>
        <li> <a href="http://localhost:3004/course/findone/3">http://localhost:3004/course/findone/3</a>
        </li>
        <li> <a href="http://localhost:3004/course/findone/10">http://localhost:3004/course/findone/10</a>
        </li>
        <li> <a href="http://localhost:3004/newpage">http://localhost:3004/newpage</a>
        </li>
      </ol>

      <br>

      <h4>Course: Test Requests to GET a view</h4>

      <ol>
        <li> <a href="http://localhost:3004/course">http://localhost:3004/course</a>
        </li>
        <li> <a href="http://localhost:3004/course/create">http://localhost:3004/course/create</a>
        </li>
        <li> <a href="http://localhost:3004/course/edit/2">http://localhost:3004/course/edit/2</a>
        </li>
        <li> <a href="http://localhost:3004/course/delete/1">http://localhost:3004/course/delete/1</a>
        </li>
        <li> <a href="http://localhost:3004/course/details/3">http://localhost:3004/course/details/3</a>
        </li>
      </ol>



      <br />
      <br />
      <br />
      <h4>Section: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="http://localhost:3004/section/findall">http://localhost:3004/section/findall</a>
        </li>
        <li> <a href="http://localhost:3004/section/findone/2">http://localhost:3004/section/findone/2</a>
        </li>
        <li> <a href="http://localhost:3004/section/findone/1">http://localhost:3004/section/findone/1</a>
        </li>
        <li> <a href="http://localhost:3004/section/findone/3">http://localhost:3004/section/findone/3</a>
        </li>
        <li> <a href="http://localhost:3004/section/findone/10">http://localhost:3004/section/findone/10</a>
        </li>
        <li> <a href="http://localhost:3004/newpage">http://localhost:3004/newpage</a>
        </li>
      </ol>

      <br>

      <h4>Section: Test Requests to GET a view</h4>

      <ol>
        <li> <a href="http://localhost:3004/section">http://localhost:3004/section</a>
        </li>
        <li> <a href="http://localhost:3004/section/create">http://localhost:3004/section/create</a>
        </li>
        <li> <a href="http://localhost:3004/section/edit/2">http://localhost:3004/section/edit/2</a>
        </li>
        <li> <a href="http://localhost:3004/section/delete/1">http://localhost:3004/section/delete/1</a>
        </li>
        <li> <a href="http://localhost:3004/section/details/3">http://localhost:3004/section/details/3</a>
        </li>
      </ol>



      <br />
      <br />
      <br />
      <h4>Instructor: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="http://localhost:3004/instructor/findall">http://localhost:3004/instructor/findall</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/findone/2">http://localhost:3004/instructor/findone/2</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/findone/1">http://localhost:3004/instructor/findone/1</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/findone/3">http://localhost:3004/instructor/findone/3</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/findone/10">http://localhost:3004/instructor/findone/10</a>
        </li>
        <li> <a href="http://localhost:3004/newpage">http://localhost:3004/newpage</a>
        </li>
      </ol>

      <br>

      <h4>Instructor: Test Requests to GET a view</h4>

      <ol>
        <li> <a href="http://localhost:3004/instructor">http://localhost:3004/instructor</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/create">http://localhost:3004/instructor/create</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/edit/2">http://localhost:3004/instructor/edit/2</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/delete/1">http://localhost:3004/instructor/delete/1</a>
        </li>
        <li> <a href="http://localhost:3004/instructor/details/3">http://localhost:3004/instructor/details/3</a>
        </li>
      </ol>



      <br />
      <br />
      <br />
      <h4>Student: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="http://localhost:3004/student/findall">http://localhost:3004/student/findall</a>
        </li>
        <li> <a href="http://localhost:3004/student/findone/2">http://localhost:3004/student/findone/2</a>
        </li>
        <li> <a href="http://localhost:3004/student/findone/1">http://localhost:3004/student/findone/1</a>
        </li>
        <li> <a href="http://localhost:3004/student/findone/3">http://localhost:3004/student/findone/3</a>
        </li>
        <li> <a href="http://localhost:3004/student/findone/10">http://localhost:3004/student/findone/10</a>
        </li>
        <li> <a href="http://localhost:3004/newpage">http://localhost:3004/newpage</a>
        </li>
      </ol>

      <br>

      <h4>Student: Test Requests to GET a view</h4>

      <ol>
        <li> <a href="http://localhost:3004/student">http://localhost:3004/student</a>
        </li>
        <li> <a href="http://localhost:3004/student/create">http://localhost:3004/student/create</a>
        </li>
        <li> <a href="http://localhost:3004/student/edit/2">http://localhost:3004/student/edit/2</a>
        </li>
        <li> <a href="http://localhost:3004/student/delete/1">http://localhost:3004/student/delete/1</a>
        </li>
        <li> <a href="http://localhost:3004/student/details/3">http://localhost:3004/student/details/3</a>
        </li>
      </ol>


    </div>
  </div>
</main>
<hr>

</div>
</div>
</div>