<main class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <h1>Web App Developers - Fall 2019</h1>
      <br>
      <hr>
      <h3>During development, test api here.</h3>
      <br>
      <br>
      <br>
      <h4>Developer: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="./developer/findall">developer/findall</a>
        </li>
        <li> <a href="./developer/findall">developer/findone/2</a>
        </li>
        <li> <a href="./developer/findall">developer/findone/1</a>
        </li>
        <li> <a href="./developer/findall">developer/findone/3</a>
        </li>
        <li> <a href="./developer/findall">developer/findone/2</a>
        </li>
        <li> <a href="./newpage">newpage</a>
        </li>
      </ol>

      <br>

      <h4>Developer: Test Requests to GET a view</h4>

      <ol>
        <li> <a href="./developer">developer</a>
        </li>
        <li> <a href="./developer/create">developer/create</a>
        </li>
        <li> <a href="./developer/edit/2">developer/edit/2</a>
        </li>
        <li> <a href="./developer/delete/1">developer/delete/1</a>
        </li>
        <li> <a href="./developer/details/3">developer/details/3</a>
        </li>
      </ol>

      


      <br>
      <br>
      <br>
      <h4>Course: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="./course/findall">course/findall</a>
        </li>
        <li> <a href="./course/findone/2">course/findone/2</a>
        </li>
        <li> <a href="./course/findone/1">course/findone/1</a>
        </li>
        <li> <a href="./course/findone/3">course/findone/3</a>
        </li>
        <li> <a href="./course/findone/10">course/findone/10</a>
        </li>
        <li> <a href="./newpage">newpage</a>
        </li>
      </ol>

      <br>

      <h4>Course: Test Requests to GET a view</h4>

      <ol>
        <<li> <a href="./course">course</a>
        </li>
        <li> <a href="./course/create">course/create</a>
        </li>
        <li> <a href="./course/edit/2">course/edit/2</a>
        </li>
        <li> <a href="./course/delete/1">course/delete/1</a>
        </li>
        <li> <a href="./course/details/3">course/details/3</a>
        </li>
      </ol>



      <br>
      <br>
      <br>
      <h4>Section: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="./section/findall">section/findall</a>
        </li>
        <li> <a href="./section/findone/2">section/findone/2</a>
        </li>
        <li> <a href="./section/findone/1">section/findone/1</a>
        </li>
        <li> <a href="./section/findone/2">section/findone/3</a>
        </li>
        <li> <a href="./section/findone/10">section/findone/10</a>
        </li>
        <li> <a href="./newpage">newpage</a>
        </li>
      </ol>

      <br>

      <h4>Section: Test Requests to GET a view</h4>

      <ol>
        <li> <a href="./section">section</a>
        </li>
        <li> <a href="./section/create">section/create</a>
        </li>
        <li> <a href="./section/edit/2">section/edit/2</a>
        </li>
        <li> <a href="./section/delete/1">section/delete/1</a>
        </li>
        <li> <a href="./section/details/3">section/details/3</a>
        </li>
      </ol>



      <br>
      <br>
      <br>
      <h4>Instructor: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="./instructor/findall">instructor/findall</a>
        </li>
        <li> <a href="./instructor/findone/2">instructor/findone/2</a>
        </li>
        <li> <a href="./instructor/findone/1">instructor/findone/1</a>
        </li>
        <li> <a href="./instructor/findone/3">instructor/findone/3</a>
        </li>
        <li> <a href="./instructor/findone/10">instructor/findone/10</a>
        </li>
        <li> <a href="./newpage">newpage</a>
        </li>
      </ol>

      <br>

      <h4>Instructor: Test Requests to GET a view</h4>

      <ol>
        <li> <a href="./instructor">instructor</a>
        </li>
        <li> <a href="./instructor/create">instructor/create</a>
        </li>
        <li> <a href="./instructor/edit/2">instructor/edit/2</a>
        </li>
        <li> <a href="./instructor/delete/1">instructor/delete/1</a>
        </li>
        <li> <a href="./instructor/details/3">instructor/details/3</a>
        </li>
      </ol>



      <br>
      <br>
      <br>
      <h4>Student: Test GET JSON by URL</h4>
      <ol>
        <li> <a href="./student/findall">student/findall</a>
        </li>
        <li> <a href="./student/findone/2">student/findone/2</a>
        </li>
        <li> <a href="./student/findone/1">student/findone/1</a>
        </li>
        <li> <a href="./student/findone/3">student/findone/3</a>
        </li>
        <li> <a href="./student/findone/10">student/findone/10</a>
        </li>
        <li> <a href="./newpage">newpage</a>
        </li>
      </ol>

      <br>

      <h4>Student: Test Requests to GET a view</h4>

      <ol>
        <li> <a href="./student">student</a>
        </li>
        <li> <a href="./student/create">student/create</a>
        </li>
        <li> <a href="./student/edit/2">student/edit/2</a>
        </li>
        <li> <a href="./student/delete/1">student/delete/1</a>
        </li>
        <li> <a href="./student/details/3">student/details/3</a>
        </li>
      </ol>


    </div>
  </div>
</main>
<hr>

</div>
</div>
</div>
